* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: #0f172a;
  text-align: center;
  font-family: 'roboto';
  font-size: 34px;
  font-weight: bold;
}

.alert-container {
  display: flex;
  align-items: flex-start;
}

.icon {
  font-size: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  margin-right: 9px;
}

.success-text {
  font-family: 'roboto';
  font-size: 18px;

  font-weight: bold;
  margin: 0;
}

.success-icon {
  color: #2dca73;
}

.error-icon {
  color: #ff0b37;
}

.warning-icon {
  color: #ffb800;
}

.info-text {
  color: #0f81e0;
}

.description {
  color: #64748b;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .main-heading {
    font-size: 20px;
  }
}
